<div class="row">
  <div class="large-12 columns">
    <hr>
  </div>
</div>

<div class="row">
  <div class="comment">
    <div class="large-2 columns">
      <%= image_tag comment.user.icon %>
    </div>
    <div class="large-8 columns">
      <%= comment.content %>
    </div>
    <div class="large-2 columns">
      <%= comment.created_at %>
    </div>
  </div>
</div>

