<div class="row">
  <div class="large-12 columns">
    <hr>
  </div>
</div>

<div class="row">
  <div class="comment">
    <div class="large-1 columns">
      <%= image_tag comment.user.icon, size: "50x50" %>
    </div>
    <div class="large-8 columns">
      <%= simple_format comment.content %>
    </div>
    <div class="large-3 columns">
      <%= comment.created_at %>
    </div>
  </div>
</div>

