<div class="row">
  <div class="large-12 columns">
    <%= f.label :title, "タイトル"%>
    <%= f.text_field :title %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= f.label :content, "本文"%>
    <%= f.text_area :content, placeholder: "今日はどうだったー？", rows: 20 %>
  </div>
</div>

