<div class="row">
  <div class="large-12 columns">
    <h1>日記の書き換え</h1>
  </div>
</div>

<%= form_for(@diary, url: user_diary_path(current_user, @diary)) do |f| %>
  <%= render "shared/errors", object: f.object %>
  <%= render "fields", f: f %>

  <div class="row">
    <div class="large-12 columns">
      <%= f.submit "更新", class: "button" %>
    </div>
  </div>
<% end %>
